<header class="header header-orange header-transparent header-waterfall ui-header">
    <ul class="nav nav-list pull-left">
        <div>
            <a data-toggle="menu" href="#ui_menu">
                <span class="icon icon-lg text-white">menu</span>
            </a>
        </div>
    </ul>
    <ul class="nav nav-list pull-right">
        <div class="dropdown margin-right">
            <a class="dropdown-toggle padding-left-no padding-right-no" data-toggle="dropdown">
                                <span class="access-hide">onekki</span>
                  <span class="icon icon-cd margin-right">account_circle</span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right">
                    <li>
                        <a class="waves-attach" href="/user/"><span class="icon icon-lg margin-right">account_box</span>用户中心</a>
                    </li>

                    <li>
                        <a class="padding-right-cd waves-attach" href="/user/logout"><span class="icon icon-lg margin-right">exit_to_app</span>登出</a>
                    </li>
                </ul>
            
        </div>
    </ul>
</header>

<nav aria-hidden="true" class="menu menu-left nav-drawer nav-drawer-md" id="ui_menu" tabindex="-1">
    <div class="menu-scroll">
        <div class="menu-content">
            <a class="menu-logo" href="https://www.789.nu/"><i class="icon icon-lg">language</i>&nbsp;Onekki's Blog
            </a>
            <ul class="nav">
                <li>
                    <a class="waves-attach waves-effect" data-toggle="collapse"
                        href="https://www.789.nu/user#ui_menu_me">文章</a>
                    <ul class="menu-collapse collapse out" id="ui_menu_me">
                        <li>
                            <a href="https://www.789.nu/user">
                                <i class="icon icon-lg">account_balance_wallet</i>&nbsp;用户中心
                            </a>
                        </li>

                        <li>
                            <a href="https://www.789.nu/user/profile">
                                <i class="icon icon-lg">account_box</i>&nbsp;账户信息
                            </a>
                        </li>

                        <li>
                            <a href="https://www.789.nu/user/edit">
                                <i class="icon icon-lg">sync_problem</i>&nbsp;资料编辑
                            </a>
                        </li>

                        <li>
                            <a href="https://www.789.nu/user/trafficlog">
                                <i class="icon icon-lg">hourglass_empty</i>&nbsp;流量记录
                            </a>
                        </li>

                        <li>
                            <a href="https://www.789.nu/user/ticket">
                                <i class="icon icon-lg">question_answer</i>&nbsp;工单系统
                            </a>
                        </li>

                        <li>
                            <a href="https://www.789.nu/user/invite">
                                <i class="icon icon-lg">loyalty</i>&nbsp;邀请链接
                            </a>
                        </li>
                    </ul>

                    <a class="waves-attach waves-effect" data-toggle="collapse"
                        href="https://www.789.nu/user#ui_menu_use">标签</a>
                    <ul class="menu-collapse collapse out" id="ui_menu_use">
                        <li>
                            <a href="https://www.789.nu/user/node">
                                <i class="icon icon-lg">airplanemode_active</i>&nbsp;节点列表
                            </a>
                        </li>

                        <li>
                            <a href="https://www.789.nu/user/relay">
                                <i class="icon icon-lg">compare_arrows</i>&nbsp;中转规则
                            </a>
                        </li>

                        <li>
                            <a href="https://www.789.nu/user/announcement">
                                <i class="icon icon-lg">announcement</i>&nbsp;网站公告
                            </a>
                        </li>

                        <li>
                            <a href="https://www.789.nu/user/tutorial">
                                <i class="icon icon-lg">start</i>&nbsp;使用教程
                            </a>
                        </li>
                    </ul>

                    <a class="waves-attach waves-effect" data-toggle="collapse"
                        href="https://www.789.nu/user#ui_menu_detect">审计</a>
                    <ul class="menu-collapse collapse out" id="ui_menu_detect">
                        <li>
                            <a href="https://www.789.nu/user/detect"><i
                                    class="icon icon-lg">account_balance</i>&nbsp;审计规则</a>
                        </li>
                        <li>
                            <a href="https://www.789.nu/user/detect/log"><i
                                    class="icon icon-lg">assignment_late</i>&nbsp;审计记录</a>
                        </li>
                    </ul>

                    <a class="waves-attach waves-effect" data-toggle="collapse"
                        href="https://www.789.nu/user#ui_menu_help">商店</a>
                    <ul class="menu-collapse collapse out" id="ui_menu_help">
                        <li>
                            <a href="https://www.789.nu/user/code">
                                <i class="icon icon-lg">code</i>&nbsp;充值
                            </a>
                        </li>

                        <li>
                            <a href="https://www.789.nu/user/shop">
                                <i class="icon icon-lg">shop</i>&nbsp;套餐购买
                            </a>
                        </li>

                        <li>
                            <a href="https://www.789.nu/user/bought"><i
                                    class="icon icon-lg">shopping_cart</i>&nbsp;购买记录</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>