{% extends "blog/base.html" %}
{% block body %}
    <div class="col-lg-3">
        <form method="POST" action="{{ url_for('blog.login') }}">
            {{ form.hidden_tag() }}
            <div>
                {{ form.name.label }}
                {% if form.name.errors %}
                    {% for error in form.name.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.name(class_="form-control") }}
            </div>
            <div>
                {{ form.password.label }}
                {% if form.password.errors %}
                    {% for error in form.password.errors %}
                        <p class="help-block">{{ error }}</p>
                    {% endfor %}
                {% endif %}
                {{ form.password(class_="form-control") }}
            </div>
            <input class="btn btn-primary" type="submit" value="Login" >
        </form>
    </div>
{% endblock %}

